@import 'maket-0.css';

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* font-family: 'Roboto'; */

body {
    cursor: default;
}

.project {
    position: relative;
}
.parent-top {
    position: relative;
}

.bacground-top {
    background-size: cover; 
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    filter: brightness(75%);
}

.parent-center {
    position: absolute;
    top: 40%;
}

.bacground-center {
    background-size: cover; 
    max-width: 100%;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    filter: brightness(75%);
}

.parent-bottom {
    position: absolute;
    top: 60%;
    z-index: 10;
}

.bacground-bottom {
    background-size: cover; 
    max-width: 100%;
    z-index: 5;
    top: 50%;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.navigation-section {
    display: flex;
    position: absolute;
    top: 70px;
    width: 100%;
    z-index: 3;
    justify-content: space-between;
}
@media (max-width: 700px) {
  .navigation-section {
    top: 50px;
  }
}

@media (max-width: 500px) {
  .navigation-section {
    top: 30px;
  }
}

.logo {
    top: 70px;
    left: 70px;
    padding-left: 60px;
}

@media (max-width: 767px) {
  .logo {
    max-height: 15px;
    margin-top: 10px;
  }
}
@media (max-width: 600px) {
  .logo {
    max-height: 19px;
    margin-top: 10px;
  }
}
@media (max-width: 465px) {
  .logo {
    max-height: 18px;
    margin-top: 10px;
    padding-left: 30px;
  }
}

.equipment-container {
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 500;
    color: white;
    padding: 10px 25px;
}

@media (max-width: 767px) {
  .equipment-container {
    font-size: 12px;
  }
}
.equipment-container:hover {
    cursor: pointer;
    color: #fbd784;
    -webkit-transform: translateY(-3px);
    transition: all 200ms ease;
}

.about-us-container {
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 500;
    color: white;
    padding: 10px 25px;
}

@media (max-width: 767px) {
  .about-us-container {
    font-size: 12px;
  }
}
.about-us-container:hover {
    cursor: pointer;
    color: #fbd784;
    -webkit-transform: translateY(-3px);
    transition: all 200ms ease;
}

.blog-container {
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 500;
    color: white;
    padding: 10px 25px;
}

@media (max-width: 767px) {
  .blog-container {
    font-size: 12px;
  }
}
.blog-container:hover {
    cursor: pointer;
    color: #fbd784;
    -webkit-transform: translateY(-3px);
    transition: all 200ms ease;
}

.menu-block {
    display: flex;
}
@media (max-width: 600px) {
  .menu-block {
    display: none;
  }
}

.user-block {
    display: flex;
    padding-right: 60px;
    align-items: flex-end;
    align-items: center;
}@media (max-width: 600px) {
  .user-block {
    display: none;
  }
}
@media (max-width: 465px) {
  .user-block {
    padding-right: 30px;
  }
}

.user {
    width: 24px;
    height: 24px;
}

@media (max-width: 767px) {
  .user {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 600px) {
  .user {
    width: 24px;
    height: 24px;
  }
}
.user:hover {
    cursor: pointer;
}

.account {
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 500;
    color: white;
    margin-left: 5px;
}
@media (max-width: 1100px) {
  .account {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .account {
    font-size: 13px;
  }
}
@media (max-width: 600px) {
  .account {
    font-size: 18px;
  }
}
.account:hover {
    cursor: pointer;
}

.travel-guide-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 260px;
    justify-content: center;
    align-items: center;
}
@media (max-width: 925px) {
  .travel-guide-section {
    top: 190px;
  }
}
@media (max-width: 700px) {
  .travel-guide-section {
    top: 150px;
  }
}
@media (max-width: 700px) {
  .travel-guide-section {
    top: 150px;
  }
}
@media (max-width: 600px) {
  .travel-guide-section {
    top: 120px;
  }
}
@media (max-width: 432px) {
  .travel-guide-section {
    top: 100px;
  }
}
.travel-guide-section:hover {
    cursor: default;
}

.tagline-line-section {
    display: flex;
    flex-direction: row;
    width: 750px;
}
@media (max-width: 1100px) {
  .tagline-line-section {
    width: 600px;
  }
}
@media (max-width: 925px) {
  .tagline-line-section {
    width: 500px;
  }
}
@media (max-width: 700px) {
  .tagline-line-section {
    width: 380px;
  }
}
@media (max-width: 600px) {
  .tagline-line-section {
    width: 200px;
  }
}
.tagline-line-center {
    display: flex;
    align-items: center;
}

.tagline-line {
    width: 80px;
    color: transparent;
    border-top: 2px solid #fbd784;
}
@media (max-width: 700px) {
  .tagline-line {
    width: 65px;
  }
}
@media (max-width: 600px) {
  .tagline-line {
    width: 40px;
    border-top: 1px solid #fbd784;
  }
}

.travel-guide-title {
    font-size: 20px;
    color: #fbd784;
    padding: 0px 0px 5px 30px;
    letter-spacing: 4px;
    font-weight: 600;
}
@media (max-width: 925px) {
  .travel-guide-title {
    font-size: 16px;
  }
}
@media (max-width: 700px) {
  .travel-guide-title {
    font-size: 13px;
  }
}
@media (max-width: 600px) {
  .travel-guide-title {
    font-size: 10px;
    padding: 0px 0px 5px 12px;
  }
}

.be-prepared {
    font-size: 65px;
    letter-spacing: 2px;
    font-weight: 600;
    color: white;
    width: 750px;
    padding: 25px 0px;
}
@media (max-width: 1100px) {
  .be-prepared {
    width: 600px;
    font-size: 40px;
  }
}
@media (max-width: 925px) {
  .be-prepared {
    width: 500px;
    padding: 10px 0px;
    font-size: 33px;
  }
}
@media (max-width: 700px) {
  .be-prepared {
    width: 380px;
    padding: 15px 0px;
    font-size: 24px;
  }
}
@media (max-width: 600px) {
  .be-prepared {
    width: 200px;
    padding: 11px 0px;
    font-size: 15px;
  }
}
.be-prepared::selection {
    color: #FBD784;
}

.scroll-down-section {
    display: flex;
    width: 750px;
}
@media (max-width: 1100px) {
  .scroll-down-section {
    width: 600px;
  }
}
@media (max-width: 925px) {
  .scroll-down-section {
    width: 500px;
  }
}
@media (max-width: 700px) {
  .scroll-down-section {
    width: 380px;
  }
}
@media (max-width: 600px) {
  .scroll-down-section {
    width: 200px;
  }
}

.scroll-down {
    font-size: 20px;
    color: white;
    padding-right: 7px;
}
@media (max-width: 700px) {
  .scroll-down {
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  .scroll-down {
    font-size: 14px;
  }
}
.scroll-down:hover {
    cursor: pointer;
}

.scroll-img:hover {
    cursor: pointer;
}
@media (max-width: 700px) {
  .scroll-img {
    width: 18px;
  }
}
@media (max-width: 600px) {
  .scroll-img {
    width: 16px;
  }
}

/* ///////////////////////////////////////////////////////////////////// */

.equipment-section01 {
    height: 1000px;
    width: 100%;
    background-color: #0b1d26;
}
@media (max-width: 1380px) {
  .equipment-section01 {
    height: 700px;
  }
}
@media (max-width: 1313px) {
  .equipment-section01 {
    height: 630px;
  }
}
@media (max-width: 767px) {
  .equipment-section01 {
    height: 800px;
  }
}
@media (max-width: 575px) {
  .equipment-section01 {
    height: 900px;
  }
}

.wrapper01 {
    display: flex;
    width: 100%;
    top: 700px;
    justify-content: center;
    margin-top: 300px;
}
@media (max-width: 1313px) {
  .wrapper01 {
    margin-top: 200px;
  }
}
@media (max-width: 767px) {
  .wrapper01 {
    margin-top: 140px;
  }
}
  @media (max-width: 464px) {
  .wrapper01 {
    margin-top: 110px;
  }
}

.content-wrapper01 {
    display: flex;
    width: 86%;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 150px;
}
@media (max-width: 1600px) {
  .content-wrapper01 {
    padding-top: 40px;
  }
}
@media (max-width: 1380px) {
  .content-wrapper01 {
    padding-top: 0px;
  }
}
@media (max-width: 767px) {
  .content-wrapper01 {
    flex-direction: column;
  }
}

.wrapper-text01 {
    width: 44%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
@media (max-width: 1380px) {
  .wrapper-text01 {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .wrapper-text01 {
    width: 100%;
  }
}

@media (max-width: 1380px) {
  .img-content {
    /* width: 50%; */
    width: 100%;
    height: 530px;
  }
}
@media (max-width: 1313px) {
  .img-content {
    width: 100%;
    height: 480px;
  }
}
@media (max-width: 1000px) {
  .img-content {
    width: 100%;
    height: 400px;
  }
}
@media (max-width: 767px) {
  .img-content {
    max-width: 400px;
    margin-left: calc(50% - 200px);
  }
}
@media (max-width: 464px) {
  .img-content {
    max-width: 300px;
    margin-left: calc(50% - 150px);
  }
}

.count01 {
    position: absolute;
    left: -70px;
    z-index: 40;
    opacity: 0.2;
    font-size: 200px;
    font-weight: 700;
    top: 30px;
    color: white;
}
@media (max-width: 1380px) {
  .count01 {
    top: 70px;
  }
}
@media (max-width: 1313px) {
  .count01 {
    top: -15px;
  }
}
@media (max-width: 1000px) {
  .count01 {
    top: -25px;
    font-size: 155px;
    left: -20px;
  }
}
@media (max-width: 767px) {
  .count01 {
    top: 10px;
  }
}
@media (max-width: 464px) {
  .count01 {
    top: 0px;
    font-size: 125px;
  }
}

.tagline-wrapper01 {
    display: flex;
    flex-direction: row;
}
@media (max-width: 767px) {
  .tagline-wrapper01 {
    margin-top: 30px;
  }
}


.tagline-line-wrapper01 {
    display: flex;
    align-items: center;
}

.started-line01 {
    width: 80px;
    color: transparent;
    border-top: 2px solid #fbd784;
}
@media (max-width: 1313px) {
  .started-line01 {
    width: 70px;
  }
}
@media (max-width: 1000px) {
  .started-line01 {
    width: 63px;
  }
}
@media (max-width: 767px) {
  .started-line01 {
    width: 100px;
  }
}
@media (max-width: 464px) {
  .started-line01 {
    width: 65px;
  }
}


.get-started-title01 {
    font-size: 20px;
    color: #fbd784;
    padding: 0px 0px 5px 30px;
    letter-spacing: 4px;
    font-weight: 600;
}
@media (max-width: 1313px) {
  .get-started-title01 {
    font-size: 17px;
  }
}
@media (max-width: 1000px) {
  .get-started-title01 {
    font-size: 14px;
    padding: 0px 0px 5px 15px;
  }
}
@media (max-width: 767px) {
  .get-started-title01 {
    font-size: 20px;
    padding: 0px 0px 5px 20px;
  }
}
@media (max-width: 464px) {
  .get-started-title01 {
    font-size: 14px;
    padding: 0px 0px 5px 15px;
  }
}

.level-title01 {
    font-size: 45px;
    letter-spacing: 2px;
    font-weight: 600;
    color: white;
    width: 750px;
    padding: 20px 0px;
    width: 100%;
}
@media (max-width: 1380px) {
  .level-title01 {
    font-size: 40px;
  }
}
@media (max-width: 1313px) {
  .level-title01 {
    font-size: 30px;
  }
}
@media (max-width: 1000px) {
  .level-title01 {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .level-title01 {
    font-size: 35px;
  }
}
@media (max-width: 464px) {
  .level-title01 {
    font-size: 24px;
    padding: 12px 0px;
  }
}
.level-title01::selection {
    color: #FBD784;
}

.get-started-text01 {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 32px;
    color: white;
    width: 750px;
    padding: 25px 0px;
    width: 100%;
}
@media (max-width: 1000px) {
  .get-started-text01 {
    font-size: 17px;
  }
}
@media (max-width: 464px) {
  .get-started-text01 {
    padding: 15px 0px;
  }
}
.get-started-text01::selection {
    color: #FBD784;
}

.content-section01 {
    position: relative;
    z-index: 999999999;
    background-color: #0b1d26;
}

/* ////////////////////////////////////////////////////////////////// */

.equipment-section02 {
    height: 1000px;
    width: 100%;
    background-color: #0b1d26;
    position: relative;
}
@media (max-width: 1380px) {
  .equipment-section02 {
    height: 700px;
  }
}
@media (max-width: 1313px) {
  .equipment-section02 {
    height: 630px;
  }
}
@media (max-width: 767px) {
  .equipment-section02 {
    height: 800px;
  }
}
@media (max-width: 575px) {
  .equipment-section02 {
    height: 900px;
  }
}

.wrapper02 {
    display: flex;
    width: 100%;
    top: 700px;
    justify-content: center;
}

/* /////////////////////////////////////////////////////////////////////////// */

.equipment-section03 {
    height: 1000px;
    width: 100%;
    background-color: #0b1d26;
    position: relative;
}
@media (max-width: 1380px) {
  .equipment-section03 {
    height: 700px;
  }
}
@media (max-width: 1313px) {
  .equipment-section03 {
    height: 630px;
  }
}
@media (max-width: 767px) {
  .equipment-section03 {
    height: 800px;
  }
}
@media (max-width: 575px) {
  .equipment-section03 {
    height: 900px;
  }
}

.wrapper03 {
    display: flex;
    width: 100%;
    top: 700px;
    justify-content: center;
}


/* ////////////////////footer///////////////////////// */

.footer-section {
    width: 100%;
    background-color: #0b1d26;
    display: flex;
    justify-content: center;
}

.footer-wrapper {
    width: 86%;
    display: flex;
    justify-content: space-between;
    padding: 100px 0px;
}
@media (max-width: 1200px) {
  .footer-wrapper {
    width: 95%;
  }
}
@media (max-width: 1000px) {
  .footer-wrapper {
    padding: 75px 0px;
  }
}
@media (max-width: 640px) {
  .footer-wrapper {
    padding: 45px 0px;
  }
}
@media (max-width: 572px) {
  .footer-wrapper {
    flex-direction: column;
  }
}

.left-block-wrapper {
    display: flex;
    flex-direction: column;
    width: 30%;
}
@media (max-width: 640px) {
  .left-block-wrapper {
    width: 46%;
  }
}
@media (max-width: 572px) {
  .left-block-wrapper {
    width: 100%;
    align-items: center;
  }
}

.footer-text {
    padding: 20px 0px;
    font-size: 17px;
    letter-spacing: 2px;
    font-weight: 600;
    color: white;
}
@media (max-width: 1000px) {
  .footer-text {
    font-size: 16px;
  }
}
@media (max-width: 572px) {
  .footer-text {
    font-size: 19px;
    text-align: center;
  }
}
.footer-text::selection {
    color: #FBD784;
}

.copyright {
    padding-top: 100px;
    font-size: 17px;
    letter-spacing: 2px;
    font-weight: 600;
    color: white;
    opacity: 0.5;
}
@media (max-width: 572px) {
  .copyright {
    padding-top: 20px;
  }
}
@media (max-width: 439px) {
  .copyright {
    text-align: center;
  }
}

.right-block-wrapper {
    width: 44%;
    display: flex;
    justify-content: flex-end;
}
@media (max-width: 1200px) {
  .right-block-wrapper {
    width: 50%;
  }
}
@media (max-width: 1000px) {
  .right-block-wrapper {
    width: 55%;
  }
}
@media (max-width: 640px) {
  .right-block-wrapper {
    width: 50%;
    justify-content: center;
  }
}
@media (max-width: 572px) {
  .right-block-wrapper {
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }
}

.left-title {
    width: 45%;
}

.footer-title {
    margin-bottom: 24px;
    color: #fbd784;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}
@media (max-width: 1000px) {
  .footer-title {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .footer-title {
    font-size: 22px;
  }
}

.footer-li {
    margin-bottom: 15px;
    color: white;
    font-size: 20px;
}
@media (max-width: 1000px) {
  .footer-li {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .footer-li {
    font-size: 20px;
  }
}
.footer-li:hover {
    color: #fbd784;
    cursor: pointer;
}

.right-title {
    width: 45%;
}
@media (max-width: 767px) {
  .right-title {
    display: none;
  }
}

@media (max-width: 767px) {
  .img-first {
    flex-direction: column-reverse;
  }
}
/* ............................................................. */

.menu-btn{
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 50px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
@media (min-width: 601px) {
  .menu-btn {
    display: none;
  }
}

.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transition-duration: .25s;
}
.menu-btn > span::before {
  content: '';
  top: -8px;
}
.menu-btn > span::after {
  content: '';
  top: 8px;
}

@media (min-width: 601px) {
  .burger-menu {
    display: none;
  }
}

.menubox{
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 100%;
  height: 50%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #b3ced4;
  box-shadow: 1px 0px 6px rgb(0 0 0 / 20%);
  transition-duration: .25s;
  text-align: center;
}
@media (max-width: 490px) {
  .menubox {
    padding: 55px 0;
  }
}

.menu-item {
  display: block;
  padding: 12px 24px;
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
@media (max-width: 530px) {
  .menu-item {
    font-size: 17px;
  }
}
@media (max-width: 400px) {
  .menu-item {
    padding: 7px 24px;
    font-size: 15px;
  }
}
.menu-item:hover {
  background-color: #CFD8DC;
}
#menu-toggle{
  opacity: 0;
}

#menu-toggle:checked ~ .menu-btn > span{
  transform: rotate(45deg);
}
#menu-toggle:checked ~ .menu-btn > span::before{
  top: 0;
  transform: rotate(0);
}
#menu-toggle:checked ~ .menu-btn > span::after{
  top: 0;
  transform: rotate(90deg);
}
#menu-toggle:checked ~ .menubox{
  visibility: visible;
  left: 0;
}

/* скролл */

body::-webkit-scrollbar {
  width: 12px;              
}

body::-webkit-scrollbar-track {
  background: #788480;      
}

body::-webkit-scrollbar-thumb {
  background-color: #0b1d25;    
  border-radius: 100px;    
  border: 6px solid rgba(0,0,0,0.2);
}


/* ////////////////////////////////////////////// */

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #0b1d25;
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.img-preloader {
  height: 50px;
  justify-content: center;
  
}
