@import 'maket-0.css';

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* font-family: 'Roboto'; */


.parent-top {
    position: relative;
}

.bacground-top {
    background-size: cover; 
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    filter: brightness(80%);
}

.parent-center {
    position: absolute;
    top: 40%;
}

.bacground-center {
    background-size: cover; 
    max-width: 100%;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.parent-bottom {
    position: absolute;
    top: 60%;
}

.bacground-bottom {
    background-size: cover; 
    max-width: 100%;
    z-index: 3;
    top: 50%;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.navigation-section {
    display: flex;
    position: absolute;
    top: 70px;
    width: 100%;
    z-index: 3;
    justify-content: space-between;
}

.logo {
    top: 70px;
    left: 70px;
    padding-left: 60px;
}

.equipment-container {
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 500;
    color: white;
    padding: 10px 25px;
}
.equipment-container:hover {
    cursor: pointer;
    color: #fbd784;
    -webkit-transform: translateY(-3px);
    transition: all 200ms ease;
}

.about-us-container {
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 500;
    color: white;
    padding: 10px 25px;
}
.about-us-container:hover {
    cursor: pointer;
    color: #fbd784;
    -webkit-transform: translateY(-3px);
    transition: all 200ms ease;
}

.blog-container {
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 500;
    color: white;
    padding: 10px 25px;
}
.blog-container:hover {
    cursor: pointer;
    color: #fbd784;
    -webkit-transform: translateY(-3px);
    transition: all 200ms ease;
}


.menu-block {
    display: flex;
}

.user-block {
    display: flex;
    padding-right: 60px;
    align-items: flex-end;
}

.user {
    width: 24px;
    height: 24px;
}
.user:hover {
    cursor: pointer;
}

.account {
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 500;
    color: white;
    margin-left: 5px;
    margin-bottom: 2px;
}
.account:hover {
    cursor: pointer;
}










